__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.github/
.env
.env.*
venv_products/
.venv/
.venv_products/
*.egg-info/
build/
dist/
htmlcov/
README.md
